[2015-08-12 17:51] caseydavenport opened #8 "Labels, Profiles, Tags should be properly escaped"
Labels, tags, and profile names are passed to Felix which use them as rule-names (for human readability). However, Kubernetes accepts the `/` character (as well as a few others), which Felix will error on. Therefore, we need to properly escape these characters.

We've temporarily worked around this issue by replacing incompatible characters with underscores.  However, there is the potential for cl

[2015-08-12 18:02] caseydavenport opened #9 "Policy does not support label changes"
Currently, Calico policy will not be updated if the policy annotation or labels are updated on a given pod.  Essentially, Calico-policy in Kubernetes is immutable.

Since Kubernetes network plugins are only informed of creation / deletion events, not updates, we either need to augment the network plugin API to give us this information, or watch the API server for pod updates.

[2015-08-12 18:09] caseydavenport opened #10 "Profile per-pod is inefficient."
We currently create a single policy profile per-pod.  This will likely pose scale-issues as Kubernetes deployments begin to scale up.

One proposed solution is to generate profiles based on the hash of the policy statement and tags, limiting the number of duplicate profiles.

Overall, this needs some more thought.  Some (but definitely not all) things to consider:
- [ ] How do we isolate profiles

[2015-08-12 20:25] alexhersh opened #11 "Stop using `calicoctl` for profile configuration"
Currently, semantic rules can only be added by `calicoctl` one at a time. Ideally we want to support profile _updating_ as opposed to _appending_ with this format. We also do not want this plugin to call `calicoctl` at all, but some work needs to be done to allow the pycalico datastore to accept our semantic format.

A symptom of this is that we need to flush out the default rules before adding in

[2015-08-13 18:31] caseydavenport opened #12 "Plugin Supports IPAM"
The Kubernetes Plugin API supports plugin IPAM as of this PR [#5069](https://github.com/kubernetes/kubernetes/pull/9646)

Calico has some IPAM that would add value to Kubernetes.  Let's join the two.

[2015-08-14 19:52] caseydavenport opened #13 ""policy" key in annotations should be namespaced"
Annotations are typically namespaced in Kubernetes.

So,

[code]

Should become something like

[code]

[2015-08-14 19:59] caseydavenport commented on #11
Changing to low priority, since ideally this will just go away once we can get proper policy support in the Kubernetes API (either native, pluggable, etc) and we no longer need to use the calicoctl styled policy statements in annotations.

It would be nice to remove the calicoctl dependency once and for all, but I don't think we should move the argparsing stuff into libcalico, especially if its ju

[2015-08-17 18:11] caseydavenport opened #14 "Support different types of authentication."
Support the various types of authentication for plugins as described here.

https://github.com/kubernetes/kubernetes/blob/master/docs/admin/authentication.md

[2015-08-18 16:54] tomdee opened #15 "Benign log "Docker container: /calico-node is not managed by kubelet" is repeated frequently"
The log is being repeated 10 times per second...

![image](https://cloud.githubusercontent.com/assets/6635/9336539/fc9386ec-458e-11e5-862a-56dd9a74dad4.png)

[2015-08-18 17:06] caseydavenport commented on #15
I think this might be a result of us setting the Kubelet logging level too high, which has been needed in order to get plugin logs in the past.

We're working to get proper logging for the plugin, in which case our demos should no longer set the Kubelet logging level to v=5.

We could also consider running calico/node as a Kubernetes pod, but there is some more thinking to do there.

[2015-08-18 17:27] caseydavenport opened #16 "GLIBC_2.14 not found"
Seen when running on default GCE provider.

I0818 17:25:00.291314   21474 exec.go:106] Init 'exec' network plugin output: /usr/libexec/kubernetes/kubelet-plugins/net/exec/calico/calico: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found (required by /tmp/_MEIOk8dJX/libz.so.1)
, exit status 1
failed to create kubelet: Network plugin "calico" failed init: exit status 1

[2015-08-18 18:05] caseydavenport commented on #16
Fixed by #17

[2015-08-18 18:05] #16 closed

[2015-08-21 17:01] caseydavenport opened #22 "User should be able to enable / disable policy"
Currently, Calico policy is always enabled in the plugin (implementing namespace isolation by default).  This behavior breaks services when using the old userspace kube-proxy.

This behavior should be configurable so that a user can choose to disable the default namespace isolation policy.

[2015-08-25 18:23] alexhersh commented on #13
[Code Change](https://github.com/projectcalico/calico-kubernetes/pull/25)
[Doc Change](https://github.com/projectcalico/calico-docker/pull/466)

[2015-08-26 16:27] caseydavenport opened #26 "Plugin logs should include process ID"
The Kubelet might call multiple instances of the plugin at the same time.  All logs are written to the same file, which makes correlating logs to plugin instances confusing.  The logs should at least have the process ID so we can follow a single instance of the plugin.

[2015-08-26 23:23] caseydavenport commented on #22
#24 fixes this

[2015-08-26 23:23] #22 closed

[2015-08-26 23:24] caseydavenport commented on #13
#25 has been merged and will be included in v0.2.0.

The doc change still needs to go in, so I'll leave this open until then.

[2015-08-27 13:35] Smana opened #27 "Network plugin "calico" failed init: exit status 255"
Hello,

I'm currently testing calico with kubernetes but i'm facing an issue.
I followed the documentation : https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu-calico.md

And calico seems to be happy :
[code]
The containers can talk each others from node to node.

Unfortunately when i start kubelet on nodes i get the following message :
[code]

Could you please

[2015-08-27 14:02] Smana commented on #27
Given kubernetes's code this error is raised when the plugin can't be loaded.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/plugins.go

But i don't know how to proceed

[2015-08-27 16:37] Smana commented on #27
i've posted the issue in the kubernetes github too because  the error comes from kubelet. i'll let you know

[2015-08-27 16:49] caseydavenport commented on #27
Hi Smana,

Could you check the contents of the following command:
[code]

The most likely culprit when the plugin fails init is that the plugin binary doesn't have executable permissions.

[2015-08-27 16:54] caseydavenport commented on #27
If the binary does have executable permissions, could you modify your kubelet parameters to enable verbose logging?  It might give a clearer picture of why the plugin is failing `init`

You can do this by setting the `--v=5` flag when starting the kubelet.

[2015-08-27 17:55] Smana commented on #27
Thanks @caseydavenport.
I just installed kubernetes binaries...
i'm going to check how to install properly the plugins.
i keep you updated

[2015-08-28 07:01] Smana commented on #27
Thanks for your, that was exactly what i needed :)

[code]

As all my binaries are installed in "/usr/local/bin/" i've just created a symlink.

Regards,
Smana

[2015-08-28 07:01] #27 closed

[2015-08-28 08:23] Smana commented on #27
Hmmm, i just changed the kubelet systemd file. i've forgot the environment file.

[2015-08-28 09:53] Smana opened #28 "Containers are not able to ping each others : "No JSON object could be decoded""
Hello,

I think my kubelet service is properly configured now.
When i run a pod, the container gets its address from the pool
[code]

However if i run a container with docker i can't ping the address of the container spawned by kubernetes.
[code]
Note : This container (run with docker) can ping another container launched the same way on another node.

The difference i can see comes from how the in

[2015-08-28 15:45] caseydavenport opened #29 "Poor diagnostics when authentication with API server fails"
Seen in #28

When the plugin is configured to use secure comms with the API, but no BearerToken exists at `/var/lib/kubelet/kubernetes_auth`, the error is unclear.  The plugin should emit a clear log indicating the problem.

[2015-08-28 15:46] caseydavenport commented on #28
Hi Smana,

It's expected that Kubernetes pods which are networked using Calico should be attached to the caliXXXX interfaces (not the docker bridge) so I don't think that is your issue.

Looking at your Kubelet logs, it looks like you're configured to use HTTPS for accessing the Kubernetes API on its secure port (443), as indicated by this log:
[code]

However, it doesn't look like you've configur

[2015-09-01 06:11] Smana commented on #28
Hi Caseydavenport,
For the moment i chose the first option.
I'll work on securing the connection later.
Everything is working fine now.
Great tool, thank you!

[2015-09-01 06:11] #28 closed

[2015-09-01 06:28] Smana opened #31 "Proper way to expose a service"
Hello,

I have a private cluster so i use the "NodePort" service type.

With flannel i would have used an external load balancer to spread the load over my nodes but maybe there'a better way with calico ? (ecmp ...)

Regards,
Smana

[2015-09-01 06:33] Smana commented on #31
note: my nodes are peering with the edge routers

[2015-09-01 15:48] caseydavenport commented on #31
Hi Smana,

For now, an external load balancer and NodePort is probably still the way to go in terms of exposing services to the outside world.

Calico currently doesn't know about Kubernetes service clusterIPs (VIPs).  Ultimately, it would be great if we could do away with NodePort altogether and make the load balancer aware of services / pods so it could perform ECMP to service-backing pods direc

[2015-09-01 15:50] caseydavenport opened #32 "No documentation on exposing services outside the cluster"
See #31

[2015-09-01 23:15] caseydavenport commented on #26
@L-MA - Can you confirm if this is fixed in master, and close this issue if it is?

[2015-09-02 08:33] Smana commented on #31
Ok thank you, so i'll request the API in order to generate my Haproxy configuration.

[2015-09-02 08:33] #31 closed

[2015-09-03 07:50] Smana opened #33 "Understanding Networking"
Hello,

Sorry to bother you again but i'd like to have more information on how is configured a pod's networking.
I already have a kubernetes cluster working with calico and deployed with Ansible.

* I've understand that every container has an ip from a calico pool (stored in etcd), and there's a specific route for each pod. These ip are distributed with bgp (bird) to all the nodes.

* But more pre

[2015-09-03 15:26] Smana commented on #33
Furthermore, i've just done the test of rebooting my host and all the network interfaces disapeared :(
Calico still seems to be configured as previously
[code]
But there'is no calixxxx interface on the host anymore.
The pods on this host are unreachable

The docker daemon is still configured on cbr0
[code]
Maybe i forgot something ?

[2015-09-03 15:36] caseydavenport opened #34 "Host reboot, connectivity lost"
From #33

Calico still seems to be configured as previously

|                Name                |
+------------------------------------+
|              busybox               |
|   elasticsearch_logging_v1_1jzvs   |
|   elasticsearch_logging_v1_az6c8   |
| fluentd_elasticsearch_10.115.77.87 |
| fluentd_elasticsearch_10.115.77.88 |
| fluentd_elasticsearch_10.115.77.89 |
|      kibana_logging_v1_if

[2015-09-03 15:36] caseydavenport commented on #33
Hi Smana,

I'm opening another issue to track your host reboot issue - #34

[2015-09-03 15:48] Smana commented on #34
Same behaviour with 2 hosts. I have an unknown "tunl0" interface:
[code]

[2015-09-03 16:30] caseydavenport commented on #34
Hi Smana,

I'm trying to reproduce this behavior locally.

Can you show the output of the following commands?
[code]
[code]
[code]

Regarding `tunl0`, that is a tunnel interface that is created by Calico but will not be used unless `ipip` is enabled on your IP pool.  I think we can safely say it isn't related to the issue you're hitting.

[2015-09-03 17:42] caseydavenport commented on #34
I've managed to reproduce this issue locally - It looks to me like the Kubelet isn't informing the Calico plugin that the pods have been recreated, and so Calico doesn't know to re-create the caliXXX veths.

What I would expect to happen is this:
  1. Node reboots and Kubelet is started (There are no running containers at this point)
  2. Kubelet sync's each pod's state - creates "/pause" infra co

[2015-09-03 18:57] caseydavenport commented on #33
We have a Calico plugin installed at `/usr/libexec/kubernetes/kubelet-plugins/net/exec/calico/calico` which is notified by the Kubelet whenever a pod is created or destroyed.  This plugin is responsible for setting up the calixxxx interface for the pod, and informing the per-node agent (calico/node) of the new endpoint.  This plugin also creates the security profile for the pod.

Yep, the calixxxx

[2015-09-03 19:22] Smana commented on #33
@caseydavenport, Thank you very much for this explanation. It is pretty clear :)

Last question: what about the performance compared to a physical nic? (throughput, latency)

I'll do some benchmarks asap anyway.

Regards

[2015-09-03 19:23] Symmetric commented on #33
Only named namespaces are shown by `ip netns list`. These are namespace fds that are created (or more commonly linked to) in `/var/run/netns/`.

All of the namespaces we create are in `/proc/<pid>/ns/net`, i.e. unnamed namespaces.

[2015-09-03 19:26] Smana commented on #34
thank you, i stay tuned

[2015-09-04 07:46] Smana commented on #34
In the meantime, as a workaround is there a way to force the step 3 ?

[2015-09-08 08:10] Smana opened #35 "Run calicoctl --kubernetes without internet"
Hello,

I'm currently doing tests with 2 nodes located on 2 different datacenters.
The problem is that my nodes can't access to the Internet.

I tried to run calicoctl but it didn't work with the following command :
[code]

I don't understand what's happening and there is no debug mode to figure it out.

Note:
* when i execute the same command without the --kubernetes option it works.
I guess it i

[2015-09-08 08:45] Smana opened #36 "Inter POP Networking : bgp peering"
Hello,

I'm doing some bgp tests:
The idea is to have nodes on different datacenters and get the containers talking each others no matter where they're located.

I configured the first node as follows :
[code]

So far it is working as expected but as soon as i configure the second node i have an inconsistent state :
[code]

I thought the default-node-as was specific to the node where i run the com

[2015-09-08 08:55] Smana commented on #36
Sorry, i used the right command and now it seems to be ok
*node1*
[code]

*node2*
[code]

but what about the _default-node-as_ shared between nodes ?

[2015-09-08 09:01] Smana commented on #36
Again i've found it out
[code]

[2015-09-08 15:08] Smana commented on #36
Ok i've another issue.
My network collegue reported that each node export all the subnets, and they have an as-path shorter than the router's ones, so they are prefered.
* node1 = 10.17.252.12, datacenter 1, calico subnets = 10.233.0.0/24, 10.233.1.0/24
node 2 = 10.17.252.27, datacenter 2, calico subnets = 10.233.2.0/24

On node1 here's bird output :
[code]

The border router on the datacenter 1 h

[2015-09-08 16:48] TrimBiggs commented on #35
Hi @Smana,

I think the problem you are having with running `calicoctl node --kubernetes` is that the `--kubernetes` flag was not introduced in calicoctl until `v0.5.3`.  It looks like the calico/node docker image you are using is `v0.5.1` from 7 weeks ago, so your calicoctl binary might be old as well.  The calicoctl command will print the usage statement if it doesn't recognize the all of the pa

[2015-09-08 18:12] caseydavenport commented on #36
Hi Smana,

It looks to me like you are configuring node1 and node2 to peer with each other, as well as with their respective border routers.  If I understand what you are trying to configure, I'd expect that node1 peers with the border router at datacenter1, and node2 peers with the border router at datacenter2.  The border routers would then peer with each other to share routes between datacenter

[2015-09-08 18:14] caseydavenport commented on #34
Sorry for the delay.  To workaround this, you can simply delete the pods using `kubectl`.  If they are managed by a ReplicationController, they will be re-created automatically (though possibly on a different host) and will have networking once they are created.

If they are not managed by a ReplicationController, then re-create the pods after deleting them.

[2015-09-08 20:13] caseydavenport commented on #33
@Smana - We've actually just recently posted on our blog about some of our dataplane performance testing.  It talks about metrics such as CPU usage, throughput, and latency.  You can find it here: http://www.projectcalico.org/calico-dataplane-performance/

[2015-09-08 20:13] #33 closed

[2015-09-08 20:40] caseydavenport commented on #35
It should also be noted that the `--kubernetes` flag will require outgoing internet connectivity, since it downloads the appropriate calico-kubernetes release.

If the nodes in your cluster don't have internet connectivity, you can manually download and install the plugin binary from the releases page and run `calicoctl node` without the `--kubernetes` flag.

[2015-09-09 08:12] Smana commented on #36
Ok in the future, when i'll set up the prod platform i'll use on separate etcd storage for each datacenter.
For now it works fine with the following command :)
[code]
Thanks @caseydavenport

[2015-09-09 08:12] #36 closed

[2015-09-09 08:13] Smana commented on #33
Perfect :)
Thank you

[2015-09-09 08:14] Smana commented on #35
Ok i'll copy the plugin from another server and i won't use the {code}--kubernetes{code} option
Thank you

[2015-09-09 08:41] #35 closed

[2015-09-10 19:45] L-MA commented on #26
Supported in PR #23

[2015-09-10 19:45] #26 closed

[2015-09-10 19:45] L-MA commented on #12
Supported in #23

[2015-09-10 19:45] #12 closed

[2015-09-15 14:13] Smana commented on #34
Hi, any news ?
The problem is really serious, even when i restart the docker service my ips are lost :(
Please let me know if you need more info.

Regards,

[2015-09-15 15:43] caseydavenport commented on #34
Hi Smana,

I believe @Symmetric was looking into this, but he's on vacation now.  I'll pick up the investigation of this problem today and post my findings to the issue.

Casey

[2015-09-15 18:45] caseydavenport commented on #34
Hi Smana,

I've made some progress on this.

1) Upgrading to the latest master build of the Kubelet fixes step #3 from above - I now see the Kubelet calling the network plugin when it restarts the pods.
2) It then seemed Calico plugin was hitting an error, since Docker was assigning the same IP address to a different container, and Calico hadn't been notified that the pod had been torn down, and t

[2015-09-16 13:26] Smana commented on #34
Hi Casey,
I'll try that asap and let you know.

[2015-09-17 00:13] L-MA commented on #29
Fixed with PR #30

[2015-09-17 00:13] #29 closed

[2015-09-17 09:18] Smana commented on #34
Well, first step i've upgraded kubernetes(kubelet included) to the master version.
[code]
I didn't helped. Indeed when i rebooted my host, the pods were created but without ip address.

Now i need to figure out how to upgrade ```calico-kubernetes```.
Currently i just downloaded the version 0.6.0 of calicoctl and run the command
```calicoctl node --ip=${DEFAULT_IPV4} --kubernetes```

[2015-09-17 18:56] caseydavenport commented on #34
Hi Smana -

I suspect we will be releasing a new version of calico-kubernetes in the next 1-2 days.  So, if you can wait that long before testing, that might be the easiest option.

If you'd like to test sooner than that, you can follow these steps to build and install calico-kubernetes.

To build from source.
[code]

To manually install the binary, copy it from `calico_kubernetes/dist/calico_kube

[2015-09-18 07:49] Smana commented on #34
Thanks Casey,
I'll wait, in the meantime i have some tests/benchmarks to do.
I stay tuned,

Regards,
Smana

[2015-09-18 15:27] Smana commented on #34
By the way could you please tell me what version of calico-docker is supposed to be used with the latest version of calico-kubernetes plugins ?
Thank you

[2015-09-18 16:50] caseydavenport commented on #34
I'd recommend using any version of calico-docker version v0.5.5 or later.

[2015-09-21 17:35] caseydavenport commented on #34
Hi @Smana - we've released calico-kubernetes v0.2.0 [here](https://github.com/projectcalico/calico-kubernetes/releases/tag/v0.2.0).

You can download and install the plugin like so:
[code]

To enable calico IPAM, edit `/etc/network-environment` and add this line:
[code]

Then, restart the kubelet
[code]

A version of calico-docker which includes this binary is expected to be released later this we

[2015-09-22 07:35] Smana opened #42 "Calico dynamic routing vs static routes"
Hello,

I was wondering what are the drawbacks of using static routes instead of calico.
I mean i've discussed with my collegue of the network team :
* we could provisonne several /24 subnets and configure static routes to a given number of nodes.
Let's say we'll never reach 20 nodes on a datacenter.
* we'll use the default docker networking.
This solution would be a bit simpler than dynamic routi

[2015-09-22 07:36] Smana commented on #34
Thanks Casey,
I'm trying it right now !

:)

[2015-09-22 10:07] Smana commented on #34
Well my first tests using the```calico-kubernetes``` v0.2.0 is not satisfactory. The networking of a container is not properly configured though i didn't identified exactly the root cause.
On my node i run the calico-docker v0.5.5
[code]
i download the calico-kubernetes plugin
[code]
The network-environment has been updated
[code]
finally kubelet is restarted.

Then to test it out, i create a pod

[2015-09-22 10:08] lxpollitt commented on #42
If you are deploying at low scale then static route provisioning (rather than using BGP) can work fine.  You would obviously lose the ability to move a workload from one location to another one without changing it's IP.  (You might want to do this if for example you want to use Flocker to move database container from one location to another.)

We've done demos of running Calico in static routing m

[2015-09-22 12:52] Smana commented on #34
I forgot to mention that i was using kubernetes v1.6.0.
With the binaries built from master branch i had several other issues.

[2015-09-22 21:41] caseydavenport commented on #34
Hi Smana,

I've so far been unable to reproduce your issue on my cluster using the following:
  - v0.2.0 of the calico-kubernetes plugin
  - `calicoctl` version v0.5.5
  - A build of Kubernetes at commit `0902f80f8b94fd23c66398118fcdf9e845c165b1`

Could you run the following commands to generate a Calico diagnostics bundle on both the source compute host as well as the destination compute host?  T

[2015-09-22 22:06] caseydavenport commented on #13
Done as of v0.2.0

[2015-09-22 22:06] #13 closed

[2015-09-23 08:11] Smana commented on #42
Ok, thank you i'll do benchmarks in order to compare the performances given the overhead caused by the port mapping of the default docker networking.

[2015-09-23 08:11] #42 closed

[2015-09-23 11:18] Smana commented on #34
That was exactly what i needed, the containers networking are now well configured after a reboot.
I needed to remove the default pool subnet before adding mine :
[code]
But now i can't control the subnet assigned to each node. it is randomly set.
Is it possible to configure manually the subnet assigned to each calico node ?

Regards,
Smana

[2015-09-23 17:31] caseydavenport commented on #34
Currently, it is not possible to manually assign subnets to each node when using Calico's IPAM.  Is this a required feature for you? Calico IPAM does currently assign address blocks to nodes in order to aggregate routes.

[2015-09-24 07:19] Smana commented on #34
Actually that would give us more control on ip assignement.
For instance currently on my lab i have to add static routes on my router (no bgp) in order to get Internet on the containers.
And i use a dns server (skydns) which have a fixed cluster ip, let's say 10.233.0.10.

My second concer is that  i prefer to use a released version of kubernetes for stability reasons.
So i'll wait a moment before

[2015-09-24 07:20] Smana commented on #34
I can't close this ticket because i'm not the issuer.

[2015-09-24 09:04] Smana commented on #34
Actually, considering i'm using dns (managed by kubernetes) for service name resolution i need to solve this issue, the workaround i've described above is not a solution because if the dns server can't be reached my apps won't work properly.

[2015-09-24 12:08] arjanschaaf opened #44 "can't get calico-kubernetes to work on AWS"
Hi all,

Great stuff happing here. Unfortunately I can't get the combination of calico-kubernetes and kubernetes-1.1.0-alpha1 to work on AWS

Yes, AWS, so I run my configuration with this address pool:
[code]

I started out with small experiment using plain docker containers on a AWS cluster: got that to work! So then I tried to get the following setup to work:
- kubernetes master (kubernetes 1.1.

[2015-09-24 17:01] Symmetric commented on #34
@smana the service VIPs should be in a different subnet than the IP pools used for pods. This is because the kube-proxy on each node replaces the service VIP with the IP of one of the pods that is backing the service, and so that Service VIP could resolve to an IP in any pool in the cluster.

Automatically assigned Service ClusterIPs are controlled by the following kube-apiserver flag:

[code]

I'

[2015-09-24 20:41] Symmetric commented on #44
@arjanschaaf can you try restarting kubelet with the `--v=5` flag (to make network plugin logs visible) and post the output from the kubelet logs from creating a new pod? (This log sequence should start with "Executing Calico pod-creation hook").

Can you also paste the output of the the following commands on one of your nodes, after creating your pod:

[code]

Along with the pod id & name.

[2015-09-24 20:46] caseydavenport opened #45 "Remove need for CALICOCTL_PATH"
We currently allow configuration of which calicoctl to use via the CALICOCTL_PATH environment variable.

This is unnecessary - we should be able to do this by using whichever `calicoctl` binary exists in the system's PATH.

This will improve plugin portability between OSes (where the path to calicoctl might be different) and remove an extra bit of configuration, which is nice too.

[2015-09-24 21:41] caseydavenport opened #46 "Plugin Errors not emitted to log."
I see the plugin crashing (due to a configuration error) but it is not emitted in the logfile.

[2015-09-24 22:23] caseydavenport commented on #34
Are you referring to routes back to your containers here? Do you mean your router does not support BGP and thus you had to manually install routes? Or that BGP distributed routes were not sufficient in some way?

But that clusterIP shouldn't actually be routable because of the proxying behavior @Symmetric mentioned above.

Understood - Kubernetes v1.1 has just entered code-freeze and will contain

[2015-09-25 08:10] arjanschaaf commented on #44
@Symmetric I've started the kubelet with ```--v=5``` but I don't see the log sequence you mentioned:

[code]

**calicoctl endpoint show --detailed**
[code]

**calicoctl profile show --detailed**
[code]

Looks as if the calico hook is never executed?

[2015-09-25 09:52] Smana commented on #34
Thank you, i thought that the subnet for the kubernetes services had to be the same as the calico pool.
I've change the kubernetes services addresses sunbet
``` --service-cluster-ip-range=10.233.0.0/18 ```
and the calico pool
[code]

Yes i configured the routes back. Anyway it is specific to my lab and i will have the target plateform very soon (with physical nodes and bgp)

Cool! i look forward t

[2015-09-25 15:41] caseydavenport commented on #45
#48

[2015-09-25 15:41] #45 closed

[2015-09-25 16:01] caseydavenport opened #49 "How to run containers through Docker"
From issue #34 @Smana

Do you have a way to run a container into the calico pool network ?

[2015-09-25 16:07] caseydavenport commented on #34
I've raised #49 to discuss your first bullet.  The second one doesn't sound like a Calico issue to me, but a Kubernetes issue.

Sounds great, looking forward to it!

[2015-09-25 16:07] #34 closed

[2015-09-25 16:08] Symmetric commented on #49
The simplest option would be to use the kubectl container commands: `kubectl run` and `kubectl exec`. These map on to the equivalent docker commands. They don't support all of the docker arguments, but critically they do support forwarding an interactive tty (`-i -tty` flags on the kubectl commands). Any containers started through kubectl will get Calico networking via the kube network plugin.

[2015-09-25 16:08] Symmetric commented on #34
Can you please open a separate issue for this? It could be a Calico issue, so report to us first. Start kubelet with the `--v=5` flag, and then see what logs are emitted on the node when the `kubectl get pod` command is run. It's possible

[2015-09-25 16:28] Symmetric commented on #44
Can you post the full kubelet.log contents to a gist and link here? It does look like we're not being called; there may be another error elsewhere.

Your kubelet args look correct, so we should be calling the plugin. If you want to dig on your end, I'd look for log containing these lines:

[code]

These all occur before the plugin is loaded (I'm particularly interested in whether the plugin gets t

[2015-09-25 18:16] arjanschaaf commented on #44
So, looking at the logs myself I found one problem. I didn't configure the environment variables for the kubelet process correctly as describe here:

Fixed the env variables **ETCD_AUTHORITY**, **CALICOCTL_PATH** & **KUBE_API_ROOT**
but the log still contains errors like:
[code]

Here is the complete log: https://gist.github.com/arjanschaaf/4383fd61e0442aff0083

[2015-09-25 18:32] Symmetric commented on #44
That log is a red herring -- the Status hook was introduced later, so a failure there is ignored.

Looking at the log for SetUpPod (Sep 25 18:08:09), I see an HTTP error -- `requests.exceptions.InvalidSchema: No connection adapters were found for '10.150.16.32:8080/api/v1/pods'`.

The KUBE_API_ROOT must include the transport type, so it should be
[code]

That's a docs bug; I'll clarify the doc tha

[2015-09-25 18:40] #44 closed

[2015-09-25 19:01] arjanschaaf commented on #44
yes, that looks a lot better!

[2015-09-25 19:01] mzupan opened #50 "kube-proxy doesn't open ports"
I've been playing with kubernetes in AWS and when I create a new service with a nodeport this version of kube-proxy

[code]

It never opens a port an sets the iptables rules on the host to send traffic to the proxy.

All I see in the logs is

[code]

In the proxy that comes with 1.0.3 I see something like

[code]

From what I've been told this will be fixed with the 1.1 release but just making it

[2015-09-28 14:45] arjanschaaf opened #52 "access remote pod through calico from host on AWS"
Another follow-up question: I don't understand why I can't connect to a remote container using the following setup:

|'ve got a calico-kubernetes setup working using calicoctl 0.7.0 & kubernetes 1.1.0-alpha1!
I came to the conclusion that the setup is working because a created a replica controller with 2 replica's that both launched on different host machines and I can ping the remote container fr

[2015-09-28 16:25] caseydavenport commented on #52
@arjanschaaf - I think you're running in to this issue: https://github.com/projectcalico/calico-docker/issues/426.

I believe @Symmetric is currently investigating this.

[2015-09-28 17:02] caseydavenport commented on #50
I think this is a bug in our guides.  We specify a certain kube-proxy build to use which is not working with released versions of Kubernetes.

@alexhersh will be taking a look at our guides.  @alexhersh - could you make sure you address this in your guides update?

[2015-09-28 19:57] arjanschaaf commented on #52
@caseydavenport, @Symmetric that thread looks very similar. Although I have some difficulty to comprehend if the suggested workaround will apply to my setup and if so, how I need to configure it exactly

[2015-09-28 20:43] caseydavenport commented on #49
The downside with using `kubectl` is that you can't specify the node on which you want your container to run.  If you have a 10 node cluster and want to diagnose a specific node, that will be pretty tricky to do just using `kubectl`.

To my knowledge, you should still be able to create containers using `docker run`, but you will need to manually add them to Calico in order to get networking.  You

[2015-09-28 23:43] Symmetric commented on #52
There's a lot of chatter on that issue, so here's the summary -- if you're on AWS, then you'll need this workaround to get traffic from a node to containers on another node:

[code]

You may also need to disable RPF on your nodes:

`for if in all eth0 tunl0; do sudo bash -c "echo 0 > /proc/sys/net/ipv4/conf/${if}/rp_filter"; done`

Note that this latter RPF fix isn't suitable for production, since

[2015-09-29 00:10] Symmetric commented on #52
^Edited previous messge to clarify IP-in-IP status

[2015-09-29 03:45] mzupan commented on #52
I'm pretty much having the same issue

my pool is set to 192.168.0.0/16
node1 = 192.168.1.1/24
node2 = 192.168.2.1/24

On node1 I ran

[code]

on node2 i ran

[code]

I still can't ping `192.168.1.1` from node2

[2015-09-29 14:03] Smana commented on #49
Ok i'm going to test that asap, thank you :)

[2015-09-29 17:06] Symmetric commented on #52
@mzupan / @arjanschaaf , might be faster to debug on slack; feel free to jump on and ping me at calicousers.slack.com. (My username there is paul.tiplady).

@mzupan, your rules don't look right -- from my instructions, <nodes subnet> is the subnet containing your nodes' main interfaces (i.e. the underlay). This must not overlap with the pool subnet range. You've used the pool CIDR.

So for example

[2015-09-29 17:20] mzupan commented on #52
@Symmetric ok looks like i mis-understood the `docker dev tunl0` route cidr and with the correct one.. I'm now able to ping containers outside the same host

[2015-09-29 19:35] arjanschaaf commented on #52
I got the basic setup also working with some great support by @Symmetric on slack!

[2015-09-29 19:35] #52 closed

[2015-09-29 22:59] caseydavenport commented on #46
More detail: An Exception is being raised, and the Traceback is printed to stderr which is emitted in the kubelet logs (but not the Calico logs).  The plugin should be catching all of these and and logging them out, rather than letting them sneak back into the kubelet logs.

[2015-09-29 23:02] caseydavenport opened #54 "Emit some logs to stdout"
We'd like to emit some (INFO and above) logs to the kubelet, while emitting all DEBUG and above logs to `/var/log/calico/kubernetes/<pluginlog>.log`'.

When looking at the kubelet logs, you'll get some context for why the plugin was being called.

When looking at the pluginlog logfile, you'll get detailed debugging information.

[2015-09-29 23:25] slaws opened #55 "Error setting up network for a pod defined as manifest"
Hello,

It seems I hit an issue with a pods defined as a manifests. The very first time (at least) a pod is started as a manifest, networking setup seems to stop before applying a profile. The container is not reachable from another host.

Some detail on my setup :
Calico-kubernetes plugin version : 0.2.0
calicoctl version : 0.7.0
Pool configured : 172.17.0.0/16 (ipip with workaround from  calico-

[2015-09-30 09:43] slaws commented on #55
I think this is the revelent part of kubelet log :
[code]

When an error occurs on the setup phase, the pod seems to stay up but without network configuration.

[2015-09-30 17:08] alexhersh commented on #50
In our [Policy doc](https://github.com/projectcalico/calico-docker/blob/master/docs/kubernetes/KubernetesPolicy.md) for kubernetes, we mention that [`kubernetes/kubernetes@b8dc963`](https://github.com/kubernetes/kubernetes/commit/b8dc963512326bcf7186026830b0dcbceecbcc80) is the appropriate commit for using the iptables proxy. However, shortly after this commit, a [PR](https://github.com/kubernetes

[2015-09-30 17:11] caseydavenport commented on #55
@slaws Thats for raising this.  I'll be taking a look at this issue today and I'll post my findings.

My initial hunch is that it is a either a race condition when creating pods via an on disk manifest, or potentially a subtle bug in the Kubelet's network plugin API, but I'll be able to say for sure after some more digging.

[2015-09-30 17:12] mzupan commented on #50
@alexhersh thanks!

[2015-10-02 00:01] #46 closed

[2015-10-02 16:05] caseydavenport commented on #50
@alexhersh - I've merged the docs update, have you updated the binary?  If so, could you close this issue?

[2015-10-02 16:59] caseydavenport commented on #55
@slaws - It looks to me like this is an ordering problem in the Kubelet where the Kubernetes API is not informed of this pod until after the network plugin is called.

I've raised kubernetes/kubernetes#14992 to address this issue.

[2015-10-02 17:19] alexhersh commented on #50
Sorry for the delay, @mzupan, I just got around to testing the new binaries. They are up on our [release page](https://github.com/projectcalico/calico-kubernetes/releases/tag/v0.2.0), and should fix your issue.

[2015-10-02 17:19] #50 closed

[2015-10-02 20:19] slaws commented on #55
@caseydavenport thanks a lot for this feedback.
I was thinking about it : since manifests are directly started by kubelet and not through the API like other pods, apiserver may not be informed of the pod creation if there is any latency.

If this is the cause a potential workaround would be to use the experimental DaemonSet. I'll try to test this next week.

[2015-10-03 04:24] mzupan commented on #50
@alexhersh thanks.. i take it they got pushed into the 0.2.0 release?

[2015-10-05 09:33] Smana commented on #49
Hello @caseydavenport @Symmetric,
I've finally a first version of my ansible script : https://github.com/Smana/kubernetes-ansible

By the way this ticket can be closed, the ```-ti``` options of kubectl are exactly what i needed.
Thank you :)

Regards,

[2015-10-05 15:49] #49 closed

[2015-10-05 16:15] alexhersh commented on #50
yes, as well as v0.1.0 and v0.1.1

[2015-10-05 16:41] caseydavenport commented on #11
The last remaining calls to `calicoctl`are applying advanced policy rules.  To remove them, we need to write some parsing code to interpret human-readable policy rules and convert them to `libcalico` Rule objects.

There might be some common function here between what the `calico-kubernetes` plugin does, and what `calicoctl` does.  However, I think that the two are logically separate enough that i

[2015-10-06 13:36] geriBatai opened #63 "calico-kubernetes doesn't create profiles for endpoints in AWS"
Hi,

I have a similar issue to #44. Running calico-kubernetes with kubernetes-1.1.0-alpha1, tried calico-node 0.7.0 and 0.6.0, docker version 1.8.0. Manual calico-docker setups work, but running kubelet with calico network plugin does not setup any profiles (networking works if profile is created manually and is attached to the endpoint).

[code]

kubelet.log can be found at https://gist.github.co

[2015-10-06 20:49] caseydavenport opened #66 "Plugin logs do not wrap"
The plugin generates log output to `/var/log/calico/kubernetes/calico.log` but this log doesn't have any log wrapping which can lead to giant logfiles.

We should follow the example of the other Calico component logs, and put plugin logs in their own directory.

For example,
`/var/log/calico/kubernetes/exec-plugin/current.log`

[2015-10-06 22:03] Symmetric commented on #63
Looks like we're somehow failing to set up networking in the Pod infrastructure container:

[code]

Unfortunately the plugin logs in that area aren't very good, so I've cut a new release which beefs up the logging.

Can you try again with [version 0.2.1](https://github.com/projectcalico/calico-kubernetes/releases/tag/v0.2.1) of the calic-kubernetes plugin?

Make sure you have the `LOG_LEVEL=debug`

[2015-10-06 22:24] caseydavenport opened #67 "We should have 100% code coverage"
At a minimum, 100% line coverage (since it's Python).  Ensuring our test cases are rigorous is a separate issue.

[2015-10-06 22:26] caseydavenport commented on #54
Fixed by #60

[2015-10-06 22:26] #54 closed

[2015-10-06 22:32] Symmetric commented on #66
The cheapo fix is to just use a [RotatingFileHandler](https://docs.python.org/2/library/logging.handlers.html#rotatingfilehandler) logger, rather than a FileHandler.

[2015-10-06 23:24] Symmetric commented on #14
Initial design thinking: I don't think we need to support all of these auth methods; as long as we have one easy-to-configure way of granting Calico access.

My current plan is to implement bearer token support (probably replacing basic auth), and include instructions for either using Kubelet's token (if that's what kubelet is using), or generating a read-only ServiceAccount token for Calico.

[2015-10-09 16:49] Symmetric opened #72 "Logs are impossible to follow in parallel execution"
Kubelet runs pod updates concurrently, so we see logs from multiple plugin invocations interleaved. It's impossible to tell which log comes from which invocation.

We should prefix each log with a correlator, probably the 12-char concatenated docker ID.

We should be able to bake this into the log command and formatter so it doesn't need to be explicitly passed to every log statement.

[2015-10-09 18:09] alexhersh commented on #72
I'll look into this as I fix #66

[2015-10-09 18:45] Symmetric commented on #72
Fine; let’s keep the implementations as separate PRs though (easier to review).

From: Alexander Hersh [mailto:notifications@github.com]
Sent: Friday, October 09, 2015 11:10 AM
To: projectcalico/calico-kubernetes
Cc: Paul Tiplady
Subject: Re: [calico-kubernetes] Logs are impossible to follow in parallel execution (#72)

I'll look into this as I fix #66<https://github.com/projectcalico/calico-kuber

[2015-10-14 21:32] alexhersh commented on #72
I have a working branch [here](https://github.com/alexhersh/calico-kubernetes/tree/logID)which produces the following output
[code]
I havent created a PR yet because its got some dependencies on other PRs

[2015-10-15 17:24] alexhersh commented on #66
Used the builtin rotating file handler instead of the `svlogd` process. Logs fill at 10M and 5 rotations are saved.

[2015-10-15 17:24] #66 closed

[2015-10-15 20:28] Symmetric commented on #72
Not sure where the 'calico.' is coming from; can you remove that? It's a drag to have so many redundant characters in every log.

[2015-10-15 21:52] alexhersh commented on #72
We log some stuff before we pull the docker_id, so I just create a child logger when we find the docker_id. I supposed it isn't unreasonable to just create a new logger instead,

[2015-10-15 22:04] Symmetric commented on #72
Ah, now I see what you're doing. I don't think that's the way to go -- use [LoggerAdapter](https://docs.python.org/2/library/logging.html#logging.LoggerAdapter) instead. You can extend the format to include `"%(docker_id)"`, and then wrap the logger with an adapter to pass `(extra={docker_id: "xxx"})`.

That way, you preserve the parent/child hierarchy, which specifies the tree onto which log hand

[2015-10-16 17:15] L-MA commented on #72
@Symmetric Don't we currently have something in place to solve this issue? We are currently printing the PID for each running plugin in the logs. If you look at the printout @alexhersh posted you can see the PIDs as `20379` and `20377`.

[code]

[2015-10-16 17:51] Symmetric commented on #72
The pid doesn't tell you which container the log is about; though you could use the pid to find the initial log which stores the docker ID, that's a pain to do in practice.

[2015-10-19 17:18] #14 closed

[2015-10-19 20:47] caseydavenport commented on #11
Fixed by #64

[2015-10-19 20:47] #11 closed

[2015-10-19 20:48] #67 closed

[2015-10-20 13:41] biwwy commented on #63
I'm not sure if I'm having the same issue, but I have similar symptoms. No profiles are created authomatically.

Below is the logs:

https://gist.github.com/biwwy/f87d077c05a7bb343f2a

Tried with calicoctl 0.8.0 and calico-kubernetes 0.2.1.
CoreOS both stable and alpha channels.
Docker 1.7.6 and 1.8.3.
Kubelet v1.1.0-alpha.1.1596+99e260530226b4, but all other Kubernetes components (Proxy, API-serv

[2015-10-20 15:25] caseydavenport commented on #63
@biwwy - It looks like you're hitting a bug fixed in PR #74.  We've just released version v0.3.0 of the plugin, which includes this fix.  You can download it here: https://github.com/projectcalico/calico-kubernetes/releases/tag/untagged-b46344ad94f2c81584cb

Let me know if this fixes your problem!

[2015-10-20 16:17] caseydavenport commented on #63
@biwwy - I just noticed that release v0.3.0 is still a draft, so you likely can't access it yet.  I suspect it will be officially released within the next day.  I'll report back here when it is!

[2015-10-20 17:34] caseydavenport opened #76 "Enable CALICO_IPAM by default"
Now that we have sufficient field testing, we should be enabling CALICO_IPAM by default.

This is a minor change to the code and an update to https://github.com/projectcalico/calico-docker/blob/master/docs/kubernetes/KubernetesIntegration.md

[2015-10-21 15:53] caseydavenport commented on #63
@biwwy - v0.3.0 has been released.

[2015-10-21 17:15] caseydavenport opened #78 "No way to tell version of plugin that is installed"
It would be convenient from a debugging standpoint to have a way to determine which plugin binary is being used (either via logging, or a command like "calico_kubernetes version" which displays the version.

We'd have to be careful to always pin the version in release binaries.

[2015-10-22 00:57] L-MA opened #79 "Kubelet is not being informed of IP address updates"
Logging is currently being streamed to stdout. This causes the Kubernetes status hook to fail since Kubernetes looks to stdout for status hook results. I.e.
[code]
Therefore, Kubernetes fails to learn about the IP address that Calico assigns to a pod.

[2015-10-23 12:15] biwwy commented on #63
@caseydavenport Thanks! The error about _log_interfaces function is gone, still I don't see profile created, though looks like for different reasons. More logs below:

https://gist.github.com/biwwy/0e33d2542bc06a91c55e

[2015-10-23 15:41] caseydavenport commented on #79
Note this only applies when using CALICO_IPAM=true.  Fixed in v0.4.0

[2015-10-23 15:41] #79 closed

[2015-10-23 16:05] caseydavenport commented on #63
@biwwy - Thanks for those logs.  I'll take a look at this today.

It appears as if the containers netns disappears partway through execution, as shown by these logs:
[code]
and then later
[code]

I'll try to reproduce this and report back.

[2015-10-23 17:19] caseydavenport opened #81 "netns PID missing causes logging to fail"
As seen here: http://stackoverflow.com/questions/31265993/docker-networking-namespace-not-visible-in-ip-netns-list

The PID no longer exists after we delete the Docker created veth, and we attempt to use `ip netns exec`, which fails since it cannot find the symlink in `/var/run/netns`.

1) We shouldn't fail execution if debug logging fails
2) We shouldn't be relying on a symlink that may or may no

[2015-10-23 17:20] caseydavenport commented on #63
@biwwy - I managed to reproduce what you're seeing - it looks like we're seeing this issue: http://stackoverflow.com/questions/31265993/docker-networking-namespace-not-visible-in-ip-netns-list

The error you're hitting is only in logging, and should only occur when DEBUG logging is enabled in the plugin.

Setting `LOG_LEVEL=INFO` should work around the problem for now - let me know if this works f

[2015-10-23 23:10] caseydavenport commented on #10
A few things:

1) We only need a profile per-pod if annotation based security policy is defined.  If none is defined, we can use the "default" profile (either ns_isolation, or allow all).

2) Some users may not care about annotation based security policy at all.  In this case, it may be beneficial to configure Calico to not perform any policy at all.  This will eliminate the need to hit the Kubern

[2015-10-26 23:17] caseydavenport commented on #10
We can't currently support fine-grained policy without a profile per pod.

We should make fine-grained annotation based policy configurable - enabled it and take a performance hit, or disable it for blazing-fast speeds and coarse-grained policy (which can still be supported).

Longer term there are options for supporting fine-grained policy in a performant way, but they are not within the scape of

[2015-10-27 16:11] Symmetric commented on #78
This should be pretty easy to keep in sync if we use [bumpversion](https://github.com/peritus/bumpversion) or similar.

[2015-10-27 16:27] Symmetric commented on #79
Have you actually observed this to cause a failure? My reading of the code is that this error is benign (and in the past, when we didn't explicitly support the status hook, it was so):

[code]

[2015-10-27 16:30] caseydavenport commented on #79
Yes - this is an error when we are using CALICO_IPAM=true, since Calico assigns an IP address which is not the one assigned by Docker.

Kubernetes will assume we used the Docker IP address which means at least:
1) The Kubernetes API will report the wrong IP.
2) The kube-proxy will install incorrect proxying rules for services.

[2015-10-27 16:31] Symmetric commented on #79
Gotcha, thanks.

[2015-10-29 18:22] #72 closed

[2015-10-30 21:30] #81 closed

[2015-11-07 00:28] #76 closed

[2015-11-07 00:41] caseydavenport opened #91 "Deprecate KUBE_API_ROOT"
The current KUBE_API_ROOT variable allows the user to specify the exact API version for the plugin to use. e.g. `http://api-url:8080/api/vX"

We don't actually want to allow the user to configure the API version, since the plugin is written to support a specific version (currently v1).

The information that the user does need to provide:
- IP address / hostname for the apiserver
- Protocol (HTTP v

[2015-11-07 00:45] caseydavenport commented on #55
@alexhersh has submitted a fix for this in kubernetes/kubernetes#16894

[2015-11-12 12:09] Smana opened #92 "Uprade to kubernetes 1.1 with calico-docker 0.10.0 issue"
Hello,

Following this issue : #34
I'm trying to upgrade my cluster.
As suggested by Casey i've configured my node as follows :

* My calico subnet
[code]

* I've a bridge cbr0 with an ip on a different subnet from the "calico_pool"
[code]

* Docker is using the bridge cbr0
[code]

* When i create a new pod i've the following kubelet logs
[code]

* Calico seems to work as expected, the ip address

[2015-11-12 16:45] caseydavenport commented on #92
Hi @Smana - I believe you're hitting this issue: https://github.com/projectcalico/calico-kubernetes/issues/79

This log tipped me off:

```Nov 12 12:01:58 kbnode1 kubelet[17740]: E1112 12:01:58.715512   17740 manager.go:377] NetworkPlugin calico failed on the status hook for pod 'kubedns-louck' - invalid character '-' after top-level value```

This should be fixed as of calico-kubernetes version `

[2015-11-12 19:09] caseydavenport opened #93 "Move plugin configuration into etcd"
Moving configuration into etcd will simplify plugin deployment, and prevent misconfigurations where one instance of the plugin is configured separately from another instance of the plugin.

We can still use environment variables for override on configuration options where it makes sense.

[2015-11-12 19:54] Symmetric commented on #93
This would come in handy for a case I just hit -- in the Vagrant install, we can't easily get at the ENV of the kubelet process.

That said, it does add operational complexity (harder for users to grok what's going on, and make changes when debugging). Might be worth looking in etcd by default, with local environment variables as a hard override?

[2015-11-12 20:57] caseydavenport commented on #93
Yep - we'd still need a way of pointing the plugin at `etcd`, but a sensible default would work for the vagrant install case.

We'd probably want to add support to `calicoctl` for configuring this stuff to make it as easy as possible.

[2015-11-12 22:32] Smana commented on #92
Hi Casey and thank you for your help.
I've tested with the option ```--kube-plugin-version``` and actually it fixed the ip assignement issue but now the networking doesn't work on any of my pods.
Let's take the pod named "busybox" :
[code]
[code]
[code]
As you can see the ip address is properly defined and known by kubernetes.
But when i check the routing table on the given node i can't see its ro

[2015-11-12 22:59] caseydavenport commented on #92
@Smana -  Interesting.

I wouldn't expect the bridge config to come into play here, since Calico isn't actually using the `cbr0` or `docker0` bridges, and the IP subnets assigned to them don't overlap with the Calico subnet.

It does look like you are missing the local route for that container - I'd expect a route that looks something like this -
[code]

That route should be installed by the Calic

[2015-11-12 23:25] caseydavenport commented on #93
@Symmetric how about something like this:

- Stop using environment variables for config - instead, move config into an on-disk configuration file combined with etcd.
- An on-disk configuration file in the same directory as the plugin will be used to bootstrap the plugin, providing the ETCD_AUTHORITY (and any other etcd config - certs, etc).
- All other configuration will be stored in etcd, and wi

[2015-11-12 23:47] Symmetric commented on #93
General approach sounds good to me. If we keep the ETCD_AUTHORITY env variable, then our current guides wouldn't need a rewrite though?

I don't necessarily mind allowing these to be configured in the env _as well_ as by file (with ENV > file > etcd)

[2015-11-13 08:31] Smana commented on #92
I've the following error on ```/var/log/calico/felix```
[code]

[2015-11-13 10:54] Smana commented on #92
In the meantime, i've installed a new cluster from scratch and it works better.
My pods can ping each others but i can't reach the nodes subnet.

For instance my dns container needs to reach the master ip in order to forward dns request to my master
[code]
[code]
Is there something missing which allows to reach the nodes ips please ?

[2015-11-13 18:02] caseydavenport commented on #93
#94 addresses reading config from a file.  Using `etcd` will be a separate PR.

[2015-11-13 20:17] caseydavenport commented on #92
@Smana

I think the skydns log is benign (unless you have a DNS service running at 10.115.99.1).

Let's see if we can figure out why the ping isn't working.  Are you running on bare-meal? Or are you in a cloud-deployment (GCE, AWS, etc)?

If you're in a cloud deployment, make sure that you've enabled `ipip` as discussed here: https://github.com/projectcalico/calico-docker/blob/master/docs/FAQ.md#c

[2015-11-14 00:33] Symmetric opened #98 "Logging error in pycalico.ipam"
With calico-kubernetes v0.6.0, I'm seeing a logging error:

[code]

Not sure if it's benign yet. Can you do a code read to see if we're setting the Formatter on the wrong log handler Alex?

[2015-11-15 20:16] Smana commented on #92
Actually the dns service is provided by a dnsmasq daemon located on the master server.
My cluster is running on bare metal servers and here is the complete route tables.

Master
[code]

Node
[code]

Pod
[code]
As i said, pods can ping each other.

[code]

I really don't understand why i can't reach the network 10.115.0.0/16 network from a pod.
Thank you again for your help.

[2015-11-16 17:08] caseydavenport commented on #92
It looks to me like the master doesn't have any routes to the pod IP pool (10.233.0.0/16), so your traffic may be making it to the master, but cannot route back (unless the gateway 10.115.255.253 is pod-aware).

Usually I'd expect these routes to be learned over BGP - how have you configured your BGP topology?  Are you running the `calico/node` container on your master?

[2015-11-16 22:00] caseydavenport opened #99 "Update documentation to include file-based configuration"
As of v0.6.0, the plugin supports configuration via an on-disk .ini file.

We'd like this to be the mainline configuration option (until we get etcd config in place) so we should update our guides to show this.

[2015-11-17 09:59] Smana commented on #92
My mistake, that was obvious. I removed the calico node on the master therefore there's no route back.
Thank you Casey and sorry :p

Well, now everything works as expected when i deploy a cluster from scratch.
Unfortunately i'm still facing my reboot issue.
When i restart the server, the pods are started but networking is not working properly.

After the reboot the pods has an ip address
[code]

B

[2015-11-17 16:58] caseydavenport commented on #92
@Smana - Thanks for the diags, I'm going to dig into this today.

I made sure to test this case when v1.1 was released and saw it work, so this might be a regression, or it might just be a subtle difference in the way the clusters are configured.

Hopefully we can get this sorted out once and for all :)

[2015-11-17 18:39] caseydavenport commented on #92
From a log read, it appears that we're at least hitting this issue (though it may not be the cause of the reboot problem): https://github.com/projectcalico/libcalico/issues/47

An upgrade to the latest libcalico should do it.  I've done that in #101 so it will go into the next release.

[2015-11-18 18:32] caseydavenport commented on #98
Fixed by #102

[2015-11-18 18:37] #98 closed

[2015-11-19 18:44] alexhersh commented on #63
@caseydavenport  Is this issue safe to close?

[2015-11-19 18:46] caseydavenport commented on #63
Yep, I don't think this is reproducible.  Let's re-open if it gets hit again.

[2015-11-19 18:46] #63 closed

[2015-11-20 21:07] caseydavenport commented on #92
@Smana - Just to keep you up to date, I think we have a fix for the felix issue, but it needs to propagate into a calico-docker release before you can try it out.  I will keep you posted.

We're also working on fixing the upstream Kubernetes issue that ultimately causes this situation.

[2015-11-20 21:12] caseydavenport commented on #55
@slaws - The fix for this has been merged to Kubernetes upstream - hopefully it will be included in the next bugfix release.

If you'd like, you can try it out using a master build of Kubernetes.  I'm going to close this issue for now.

[2015-11-20 21:12] #55 closed

[2015-11-21 11:20] Smana commented on #92
@caseydavenport - Thank you for the update, i'll look forward to the latest calico-docker release.

[2015-11-29 13:52] altvnk commented on #91
I vote for certificate auth instead of tokens or at least both. For now it's default way to auth in kubernetes API via service account.

[2015-12-01 08:41] jaywayjayway opened #109 "how to work with between the service of k8s and calico"
when I create a service  in k8s,it need a IP  by creating docker0

[code]

But , by creating pods with  calico,in the container，it only has a IP  just from *calico* .

under the scene，how to work with  between the service  of  k8s  and  calico

[2015-12-01 12:35] Smana commented on #92
Hi guys!
Do you have an idea when will it be released please ?

[2015-12-02 06:52] MikeSpreitzer opened #111 "config/master/kubernetes-master.manifest refers to old hyperkube version 1.1.1"
Image gcr.io/google_containers/hyperkube is now at v1.1.2

[2015-12-02 09:30] AdoHe opened #112 "Reason for running calico/node container on kubernetes master"
FYI. Why we have to run `calico/node` container on kubernetes master?

[2015-12-02 19:13] caseydavenport commented on #109
When using Calico with Kubernetes, pods will be assigned an IP address from the Calico pool.  When using CALICO_IPAM=true, Calico will assign the IP.  Otherwise, the pod will receive an IP from the docker bridge.

In Kubernetes, services use a completely separate set of IP addresses (whether or not you are using Calico IPAM).  The IP addresses are not known by Calico, and are not directly routable

[2015-12-02 19:14] caseydavenport commented on #111
@alexhersh - could you update this?

[2015-12-02 19:16] caseydavenport commented on #112
@AdoHe - `calico/node` needs to run on the kubernetes master so that it knows how to route to pod IP addresses.

The typically example is the Kubernetes DNS addon - the pod needs to access the Kubernetes API running on the master, and so the master must be able to route packets back to the pod.

[2015-12-02 19:16] #112 closed

[2015-12-02 19:24] caseydavenport commented on #92
@Smana - Sorry for the delay, I've been out for a week and just got back.

Here is the PR that fixes this issue - it hasn't made its way into a Felix release yet, hopefully that will be soon.  https://github.com/projectcalico/calico/pull/902

[2015-12-03 00:08] alexhersh commented on #111
PR #113 is up

[2015-12-03 01:46] caseydavenport opened #114 "Check for host networking before making changes"
The plugin ignores host networked containers (e.g. kube-proxy).  However, due to a bug in our code, it doesn't check if the container is host-networked until AFTER it attempts to do some stuff.

It should check the NetworkMode first thing, and exit successfully without doing anything if it encounters a NetworkMode=host container.

[2015-12-03 05:37] jaywayjayway commented on #109
maybe I  didn't describe accurately.  I  just illustrate again.

###env

[code]

When creating pods  using Calico with Kubernetes ,  pods will be assigned an IP address from the Calico pool.
   my service addressse config  like this .
[code]
my calico pool：
[code]
when  I create   2 pods success,pod describe show this

[code]
2.docker daemon

##node1
[code]

##controller
[code]

3.my  pod receive

[2015-12-03 16:47] caseydavenport commented on #111
Fixed by #113

[2015-12-03 16:47] #111 closed

[2015-12-03 22:00] #114 closed

[2015-12-03 22:56] caseydavenport commented on #109
@jaywayjayway - Thanks for describing further.

From what you've shown, it looks like Calico is assign an IP address to your containers (192.168.0.0, for example).

However, it doesn't look like Kubernetes is recognizing that IP address, as shown in the `kubectl describe` output:
[code]
This value should match the IP address assigned by Calico, however it appears to be the value assigned by Docker

[2015-12-04 00:06] caseydavenport opened #117 "Plugin should clean up endpoints / IP addresses better"
The plugin makes an attempt to clean up IP addresses and endpoints if it encounters an error, but it doesn't handle all cases.  The plugin should be more robust to cases like:

1) Creates endpoint.
2) Assigns IP.
3) Fails to configure profile.

Any time the plugin returns a non-zero exit code during a create, it needs to delete the endpoint and un-assign any IP addresses.

[2015-12-07 03:03] jaywayjayway commented on #109
thank you for your help.I post my env

## Node1
kubelet conf file  */etc/kubernetes/kubelet* :
[code]
calico config file */usr/libexec/kubernetes/kubelet-plugins/net/exec/calico/calico_kubernetes.ini*:
[code]
create  clico_kuberntes container:
[code]

system log show like ：
[code]
### it 's OK ?  show me managed by kubelet. ?###

####create POD ,kubelet  log
[code]
eth calico log show me:
[code]
t

[2015-12-07 17:31] caseydavenport commented on #109
@jaywayjayway - Thanks for that information.

This log is normal at verbose logging levels in the kubelet (though annoying).
[code]

Unfortunately, the logs I am looking for are only available at debug level in the Calico plugin.

Could you add:
[code]

To your `calico_kubernetes.ini` and then post the entire `kubelet` and `calico` logs again?

[2015-12-08 03:36] jaywayjayway commented on #109
@caseydavenport  , thanks for you help.Now I added  *debug* to `calico_kubernetes.ini`. As show full log when I  create a new pod.
[code]

receive  IP from calico  is  `192.168.0.0`

[code]

`cluster IP ` from k8s is `172.17.0.1`.

[code]

and the `kubelet ` log told me like this

[code]

[2015-12-08 06:31] caseydavenport commented on #109
@jaywayjayway - Are you sure that is the full Calico log?

With debug enabled, I'd expect a log which looks something like this:
[code]
It should occur slightly after the log output you pasted above.

Can you also share what version of Kubernetes you're using in this cluster?

[2015-12-08 09:27] jaywayjayway commented on #109
@caseydavenport  haha, I have  deal with it. Just  change k8s version ( older 1.0 ). I have update to 1.1

very thanks you for your help. :smiley: I will continue to use calico. it so cool..

in describe  pod
[code]

in  the container:
[code]
I have also update calicoctl from  git .and  it's log show me as what your want.
[code]

[2015-12-08 16:58] caseydavenport commented on #109
Glad it's working now :)

[2015-12-08 16:58] #109 closed

[2015-12-09 00:39] alexhersh commented on #78
Primitive implementation in #122

[2015-12-09 17:04] #117 closed

[2015-12-17 17:23] spikecurtis opened #123 "Bad error if `http://` is put in the ETCD_AUTHORITY config variable."
User babusatasiya on Calicousers Slack configured his `calico_kubernetes.ini` like this

[code]

And he got this error:

[code]

The problem is that there is a `http://` in the `ETCD_AUTHORITY`.  We need to either just deal with this case, or drop a better error message.

[2015-12-17 21:08] caseydavenport commented on #92
Hey @Smana - Not sure if you saw the calico-docker v0.13.0 release go by.

This includes the Felix changes needed to get node reboots working for you.  I tried it out this morning and all seemed to work.  Let me know when you get a chance to test it!

https://github.com/projectcalico/calico-docker/releases/tag/v0.13.0

[2015-12-17 21:09] #78 closed

[2015-12-17 21:10] caseydavenport commented on #10
Latest plugin supports DEFAULT_POLICY=none, which disables the experimental "annotation-based" policy features and puts all pods in a global profile.

[2015-12-17 21:10] #10 closed

[2015-12-18 12:08] Smana commented on #92
Hello @caseydavenport,
Thanks for the update.
I did some tests this morning and yes it fixed the issue :)

Just one question : for a given pod, when the node is restarted, it doesn't keep its ip (another one is assigned). Maybe its normal

[2015-12-18 18:33] caseydavenport commented on #92
@Smana - Yes, that is normal.  Upon reboot Kubernetes is actually creating a whole new set of pods, so new IP addresses are assigned to them.

[2015-12-18 20:02] Smana commented on #92
Thanks for your help, i closed the issue.
The changes are applied to my playbooks : https://github.com/ansibl8s/setup-kubernetes
See you soon.

[2015-12-18 20:02] #92 closed

[2015-12-18 20:41] tomdee opened #125 "Errors seen in kubelet logs when running at scale"
[code]

I was running a slightly customized plugin so no need to panic yet :smile:

@caseydavenport

[2015-12-24 14:32] mzupan opened #126 "Get master in node-to-node-mesh"
I'm trying to get autoscaling working with calico as my network layer and its not working in AWS.

horizontal autoscaling needs heapster running in the kube-system namespace. Heapster needs to hit the kublet port (10255) on every k8 node.

The issue I'm having is when I run heapster in kubernetes I'm able to connect to the port just fine but the kubernetes controller needs to connect to heapster v

[2015-12-28 17:23] euprogramador opened #127 "add suport secure (client certificate) etcd and kubernetes api root"
Authentication via certificate is better than via token the calicoctl already supports authentication in ETCD secure via environment variable in its last release (see 00:13) would be extremely useful to include this feature in kubernetes plugin for both ETCD like to kubernetes api root even was contributing but as I'm not sure python ... basically work just make the request as follows:

[code]

in

[2015-12-28 18:32] euprogramador commented on #127
pull request #128

[2016-01-07 18:46] caseydavenport commented on #126
@mzupan - sorry for the delay, not sure how I missed this issue.

The containers running on the master, are they created via Kubernetes?  If so, have you installed the Calico plugin on the master?  If they're just running through Docker, you'll need to add them to Calico explicitly or else Calico won't know how to route to them.  I don't see any local container routes in your master's routing tabl

[2016-01-15 14:17] fasaxc opened #131 ""WARNING Missing chain" DROP rule hit with calicoctl 0.14"
Reported on Slack by user @slaw:

[code]

I asked them to submit a diags bundle.

[2016-01-15 14:36] slaws commented on #131
Hello,

Some informations about my setup.
I use a 172.23.0.0/16 pool with ipip enabled.
The tests was made with a very simple RC and policy in annotations :
[code]

Pinging my DNS server from a pod of this RC :
[code]

Tracing packets :
[code]
Detail of the last chain :
[code]

[2016-01-15 17:09] lxpollitt commented on #131
cc/ @tomdee @caseydavenport

[2016-01-18 20:02] caseydavenport commented on #131
Looks like Felix is failing to create the profile since the provided port is not an integer.

Relevant logs:
[code]

This PR https://github.com/projectcalico/libcalico/pull/53/files added validation in this area, but doesn't look like it asserts the given port is actually an integer (just that it can be cast as an int).  I'd say this is a bug in the libcalico validation code, and probably a bug in

[2016-01-18 20:03] caseydavenport commented on #131
@tomdee - I think we need to fix this for CNI 1.0.

[2016-01-18 21:15] caseydavenport commented on #126
@mzupan - This should be fixed up by using calicoctl and calico/node version 0.14.0.  Please give that a try when you have a chance and let us know if it fixes your problem.  You shouldn't need the workaround routes described above with this release.

[2016-01-18 21:16] #99 closed

[2016-01-18 21:16] #93 closed

[2016-01-18 21:16] caseydavenport commented on #93
Closing since file config is sufficient, and migrating to CNI plugin uses the CNI network configuration file.

[2016-01-18 21:19] caseydavenport commented on #32
CNI documentation will include examples of this, as does the Kubernetes documentation.

[2016-01-18 21:19] #32 closed

[2016-01-18 21:32] #131 closed

[2016-01-19 13:11] euprogramador commented on #127
merge #128

[2016-01-19 13:11] #127 closed

[2016-01-21 17:21] mzupan commented on #126
works great since 0.14.0!

[2016-01-21 17:21] #126 closed

[2016-02-05 15:56] Nagodar opened #133 "Only one container in the pod see its ip"
I'm trying kubernetes + calico following this guide:

https://github.com/caseydavenport/kubernetes/blob/master/docs/getting-started-guides/ubuntu-calico.md

I've found that not all containers inside the same pod knows its ip, for instance the skydns plugin if a launch "ip a ls" only one container reports its ip:

[code]

I'm using ubuntu 14.04.3 with kernel 3.19 (also tried with 4.2). Kubernetes 1

[2016-02-05 17:39] caseydavenport commented on #133
@Nagodar - I think there is something wrong with the `ip addr` command in the kube-dns pod.

From my local cluster, `ip a ls` fails (with a segfault) while `ifconfig` shows the IP address in each container just fine.  Could you check that this is the same on your cluster?

[code]

On an unrelated note, I'd recommend using the Calico CNI plugin for Kubernetes (rather than the calico-kubernetes exec

[2016-02-08 08:04] Nagodar commented on #133
Thanks, ifconfig shows the information correctly :)

[2016-02-08 08:04] #133 closed

[2017-08-07 07:22] #9 closed

[2017-08-07 07:23] #125 closed

[2019-11-08 00:50] #123 closed

[2019-11-08 00:50] #8 closed

[2019-11-08 00:50] #91 closed